# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/

# --- Тесты ---
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml
*.cover

# --- Allure отчеты ---
allure-results/
allure-report/
allure-reports/
allure-history/

# --- IDE ---
.vscode/
.idea/
*.swp
*.swo

# --- OS files ---
.DS_Store
Thumbs.db
